* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #880808; 
    color: #1A1313; 
    font-family: Arial, sans-serif;
}

nav {
    background-color: #880808;
    color: #fff;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 24px;
}

nav ul li {
    position: relative;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    display: block;
    padding: 10px 15px;
}

a{
	color:#1A1313;
	text-decoration: none;
}

.item-image {
    width: 150%;
    aspect-ratio: 1 / 1;
    object-fit: scale-down;
    margin-top: 8px;
    display: block;
}

.item-description {
    font-size: 0.9rem;
    color: #888;
    margin-top: 8px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.grid-item a {
	display: block;
	margin-bottom: 8px;
	font-weight: bold;
}

.grid-item {
    background: #880808;
    padding: 12px;
    border-radius: 8px;
    overflow: hidden;
}